<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>HelpOnDrawings</title>
<link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="scilabTheme/css/common.css">
<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="scilabTheme/css/screen.css">
<link rel="stylesheet" type="text/css" media="print" charset="utf-8" href="scilabTheme/css/print.css">
<style type="text/css">
ul.pagetitle{
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
li.pagetitle{
  display: inline;
  margin: 0;
}
td.noborder {
  border: 0;
}
</style>
</head>
<body>
<table>
<tr>
<td class="noborder">
<img src="logo.png">
</td>
<td class="noborder">
<ul class="pagetitle">
<li class="pagetitle"><a class="backlink">HelpOnDrawings</a>
</ul>
<br><br>
[<a href="Contents.html">Contents</a>]&nbsp;[<a href="TitleIndex.html">TitleIndex</a>]&nbsp;[<a href="WordIndex.html">WordIndex</a>]&nbsp;
</td>
</tr>
</table>
<hr>
<div id="page">
<div dir="ltr" id="content" lang="en"><span class="anchor" id="top"></span>
<span class="anchor" id="line-1"></span><span class="anchor" id="line-2"></span><span class="anchor" id="line-3"></span><span class="anchor" id="line-4"></span><span class="anchor" id="line-5"></span><span class="anchor" id="line-6"></span><span class="anchor" id="line-7"></span><span class="anchor" id="line-8"></span><p class="line867">
<h1 id="Working_with_Drawings">Working with Drawings</h1>
<span class="anchor" id="line-9"></span><p class="line867"><div class="table-of-contents"><p class="table-of-contents-heading">Contents<ol><li>
<a href="#Working_with_Drawings">Working with Drawings</a><ol><li>
<a href="#Basics">Basics</a></li><li>
<a href="#Usage">Usage</a></li><li>
<a href="#Examples">Examples</a><ol><li>
<a href="#Markup_for_a_TWikiDraw_drawing">Markup for a TWikiDraw drawing</a></li><li>
<a href="#Rendering_of_a_TWikiDraw_drawing">Rendering of a TWikiDraw drawing</a></li><li>
<a href="#Markup_for_a_AnyWikiDraw_drawing">Markup for a AnyWikiDraw drawing</a></li><li>
<a href="#Rendering_of_a_AnyWikiDraw_drawing">Rendering of a AnyWikiDraw drawing</a></li></ol></li><li>
<a href="#A.tdraw_file_format">.tdraw file format</a></li><li>
<a href="#A.adraw_file_format">.adraw file format</a></li></ol></li></ol></div> <span class="anchor" id="line-10"></span>
<h2 id="Basics">Basics</h2>
<span class="anchor" id="line-11"></span><span class="anchor" id="line-12"></span><p class="line862">Since MoinMoin 1.9 you can choose from two drawing tools: TWikiDraw and (new) AnyWikiDraw. <span class="anchor" id="line-13"></span><span class="anchor" id="line-14"></span><p class="line862">TWikiDraw is available in MoinMoin since quite a while and a bit outdated meanwhile. We still provide it for compatibility with existing drawings. <span class="anchor" id="line-15"></span><span class="anchor" id="line-16"></span><p class="line867"><a class="http" href="http://sourceforge.net/projects/anywikidraw/">AnyWikiDraw</a> is a special version for wikis of JHotDraw7, a successor of TWikiDraw with a modern user interface and a few very cool features. <span class="anchor" id="line-17"></span><span class="anchor" id="line-18"></span><p class="line867">
<h2 id="Usage">Usage</h2>
<span class="anchor" id="line-19"></span><span class="anchor" id="line-20"></span><p class="line874">Use this syntax for including a drawing on your page: <span class="anchor" id="line-21"></span><span class="anchor" id="line-22"></span><p class="line867"><span class="anchor" id="line-23"></span><span class="anchor" id="line-24"></span><pre><span class="anchor" id="line-1"></span>{{drawing:&lt;name of your drawing&gt;[.tdraw|.adraw]}}</pre><span class="anchor" id="line-25"></span><span class="anchor" id="line-26"></span><p class="line862">Use <strong>.tdraw</strong> for TWikiDraw drawings and <strong>.adraw</strong> for AnyWikiDraw drawings. If you don't add an extension it will default to TWikiDraw. <span class="anchor" id="line-27"></span><span class="anchor" id="line-28"></span><p class="line874">If a drawing does not exist, you will see the attachment symbol instead of a drawing. A click on it will lead you to a page where the drawing applet gets started, so you can create a new drawing and save it. <span class="anchor" id="line-29"></span><span class="anchor" id="line-30"></span><p class="line874">When moin renders the wiki page afterwards, you'll see a rendered PNG of your new drawing. <span class="anchor" id="line-31"></span><span class="anchor" id="line-32"></span><p class="line874">If you click on the PNG rendering of an existing drawing, moin will invoke the drawing applet so you can modify it. <span class="anchor" id="line-33"></span><span class="anchor" id="line-34"></span><p class="line867"><img alt="(!)" height="15" src="/wiki_static/scilabTheme/img/idea.png" title="(!)" width="15" /> In case you see some message asking whether you want to load the applet, you should confirm that. <span class="anchor" id="line-35"></span><span class="anchor" id="line-36"></span><p class="line874">Please play around with the drawing tools on your own, you will explore a lot of cool features. <span class="anchor" id="line-37"></span><span class="anchor" id="line-38"></span><p class="line874">E.g. add images to your drawings, play around with grouping, transparency effects and rotate everything by slowly double clicking on it.  <span class="anchor" id="line-39"></span><span class="anchor" id="line-40"></span><p class="line874">Have fun! <span class="anchor" id="line-41"></span><span class="anchor" id="line-42"></span><span class="anchor" id="line-43"></span><p class="line867">
<h2 id="Examples">Examples</h2>
<span class="anchor" id="line-44"></span><span class="anchor" id="line-45"></span><p class="line867">
<h3 id="Markup_for_a_TWikiDraw_drawing">Markup for a TWikiDraw drawing</h3>
<span class="anchor" id="line-46"></span><p class="line867"><span class="anchor" id="line-47"></span><span class="anchor" id="line-48"></span><pre><span class="anchor" id="line-1-1"></span>{{drawing:twikitest.tdraw}}</pre><span class="anchor" id="line-49"></span><span class="anchor" id="line-50"></span><p class="line867">
<h3 id="Rendering_of_a_TWikiDraw_drawing">Rendering of a TWikiDraw drawing</h3>
<span class="anchor" id="line-51"></span><p class="line867"><a href="attachments/HelpOnDrawings/twikitest.tdraw"><img alt="twikitest.tdraw" class="drawing" src="./HelpOnDrawings.html?action=AttachFile&amp;do=box&amp;target=twikitest.tdraw&amp;member=drawing.png" title="twikitest.tdraw" /></a> <span class="anchor" id="line-52"></span><span class="anchor" id="line-53"></span><p class="line867">
<h3 id="Markup_for_a_AnyWikiDraw_drawing">Markup for a AnyWikiDraw drawing</h3>
<span class="anchor" id="line-54"></span><p class="line867"><span class="anchor" id="line-55"></span><span class="anchor" id="line-56"></span><pre><span class="anchor" id="line-1-2"></span>{{drawing:anywikitest.adraw}}</pre><span class="anchor" id="line-57"></span><span class="anchor" id="line-58"></span><p class="line867">
<h3 id="Rendering_of_a_AnyWikiDraw_drawing">Rendering of a AnyWikiDraw drawing</h3>
<span class="anchor" id="line-59"></span><p class="line867"><a href="attachments/HelpOnDrawings/anywikitest.adraw"><map name="ImageMapOfHelpOnDrawings-1anywikitest.adraw" ></map><img alt="anywikitest.adraw" class="drawing" src="./HelpOnDrawings.html?action=AttachFile&amp;do=box&amp;target=anywikitest.adraw&amp;member=drawing.png" title="anywikitest.adraw" usemap="#ImageMapOfHelpOnDrawings-1anywikitest.adraw" /></a> <span class="anchor" id="line-60"></span><span class="anchor" id="line-61"></span><span class="anchor" id="line-62"></span><p class="line867">
<h2 id="A.tdraw_file_format">.tdraw file format</h2>
<span class="anchor" id="line-63"></span><p class="line867">MoinMoin &lt; 1.9 stored 3 files for each TWikiDraw drawing: <span class="anchor" id="line-64"></span><ul><li>drawingname.draw (drawing file for TWikiDraw) <span class="anchor" id="line-65"></span></li><li>drawingname.map (for clickable drawings) <span class="anchor" id="line-66"></span></li><li>drawingname.png (PNG rendering of the drawing) <span class="anchor" id="line-67"></span><span class="anchor" id="line-68"></span></li></ul><p class="line862">With MoinMoin 1.9 this was changed so that only 1 file is needed (please use <tt class="backtick">moin&nbsp;migration&nbsp;data</tt> to convert existing data): <span class="anchor" id="line-69"></span><ul><li>drawingname.tdraw <span class="anchor" id="line-70"></span><span class="anchor" id="line-71"></span></li></ul><p class="line862">This .tdraw file is simply a tar archive that internally contains the 3 files (see above). The contained files are ever called <tt class="backtick">drawing.*</tt> so they do not need to get renamed if the .tdraw file gets renamed. <span class="anchor" id="line-72"></span><span class="anchor" id="line-73"></span><p class="line867">
<h2 id="A.adraw_file_format">.adraw file format</h2>
<span class="anchor" id="line-74"></span><p class="line867">MoinMoin 1.9 now also supports AnyWikiDraw drawings and saves them into a .adraw tar file, which contains: <span class="anchor" id="line-75"></span><ul><li><p class="line862">drawing.svg (SVG file for AnyWikiDraw) <span class="anchor" id="line-76"></span></li><li>drawing.png (PNG rendering of the SVG) <span class="anchor" id="line-77"></span><span class="anchor" id="line-78"></span></li></ul><p class="line862">The contained files are ever called <tt class="backtick">drawing.*</tt> so they do not need to get renamed if the .adraw file gets renamed. <span class="anchor" id="line-79"></span><span class="anchor" id="bottom"></span></div>
</div>
<hr>
2022-09-08 09:27
</body>
</html>
