<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>HelpOnLinking</title>
<link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="scilabTheme/css/common.css">
<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="scilabTheme/css/screen.css">
<link rel="stylesheet" type="text/css" media="print" charset="utf-8" href="scilabTheme/css/print.css">
<style type="text/css">
ul.pagetitle{
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
li.pagetitle{
  display: inline;
  margin: 0;
}
td.noborder {
  border: 0;
}
</style>
</head>
<body>
<table>
<tr>
<td class="noborder">
<img src="logo.png">
</td>
<td class="noborder">
<ul class="pagetitle">
<li class="pagetitle"><a class="backlink">HelpOnLinking</a>
</ul>
<br><br>
[<a href="Contents.html">Contents</a>]&nbsp;[<a href="TitleIndex.html">TitleIndex</a>]&nbsp;[<a href="WordIndex.html">WordIndex</a>]&nbsp;
</td>
</tr>
</table>
<hr>
<div id="page">
<div dir="ltr" id="content" lang="en"><span class="anchor" id="top"></span>
<span class="anchor" id="line-1"></span><span class="anchor" id="line-2"></span><span class="anchor" id="line-3"></span><span class="anchor" id="line-4"></span><span class="anchor" id="line-5"></span><span class="anchor" id="line-6"></span><span class="anchor" id="line-7"></span><span class="anchor" id="line-8"></span><p class="line867">
<h1 id="Linking_Reference">Linking Reference</h1>
<span class="anchor" id="line-9"></span><p class="line867"><div class="table-of-contents"><p class="table-of-contents-heading">Contents<ol><li>
<a href="#Linking_Reference">Linking Reference</a><ol><li>
<a href="#Linking">Linking</a></li><li>
<a href="#Embedding">Embedding</a></li><li>
<a href="#Explanations">Explanations</a><ol><li>
<a href="#URLs">URLs</a></li><li>
<a href="#Spaces">Spaces</a></li><li>
<a href="#Anchors">Anchors</a></li><li>
<a href="#Preventing_Automatically_Generated_Links">Preventing Automatically Generated Links</a></li><li>
<a href="#Using_link_parameters">Using link parameters</a><ol><li>
<a href="#Setting_attributes_of_the_.3Ca.3E_tag">Setting attributes of the &lt;a&gt; tag</a></li><li>
<a href="#Creating_a_query_string_for_the_target_URL">Creating a query string for the target URL</a></li></ol></li><li>
<a href="#Images">Images</a><ol><li>
<a href="#Thumbnails">Thumbnails</a></li></ol></li></ol></li></ol></li></ol></div> <span class="anchor" id="line-10"></span>There are two fundamental linking types on MoinMoin. <span class="anchor" id="line-11"></span><span class="anchor" id="line-12"></span><ul><li><p class="line862">Brackets (<tt class="backtick">[[&nbsp;&nbsp;]]</tt>) are used to <em>link</em> to a target (a local wiki page, an external URL, a file, etc). <span class="anchor" id="line-13"></span></li><li><p class="line862">Braces (<tt class="backtick">{{&nbsp;&nbsp;}}</tt>) are used to <em>embed</em> (transclude/include/show) some target (often an image, but can be text). <span class="anchor" id="line-14"></span><span class="anchor" id="line-15"></span></li></ul><p class="line874">Targets are very flexible in that they support virtually any style you can with regular HTML (relative or absolute paths, anchors, etc). <span class="anchor" id="line-16"></span><span class="anchor" id="line-17"></span><p class="line867">
<h2 id="Linking">Linking</h2>
<span class="anchor" id="line-18"></span><p class="line862">Properly-formed URLs (i.e. <tt>http://example.net</tt>), <a href="./InterWiki.html">InterWiki</a> pages, email addresses, and <a href="./CamelCase.html">CamelCase</a> pagenames are automatically recognized as targets even without using brackets. <span class="anchor" id="line-19"></span><div><table style="width: 100%"><tbody><tr style="background-color: #ffffcc">  <td style="width: 25%"><p class="line891"><strong>Description</strong> </td>
  <td><p class="line891"><strong>Syntax</strong> </td>
  <td><p class="line891"><strong>Comment</strong> </td>
</tr>
<tr>  <td><span class="anchor" id="line-20"></span><p class="line862">internal link </td>
  <td><p class="line891"><tt class="backtick">WikiName</tt> </td>
  <td><p class="line891"><a href="./CamelCase.html">CamelCase</a> page name </td>
</tr>
<tr>  <td><span class="anchor" id="line-21"></span><p class="line862">internal free link </td>
  <td><p class="line891"><tt class="backtick">[[free&nbsp;link]]</tt> </td>
  <td><p class="line862">any page name </td>
</tr>
<tr>  <td><span class="anchor" id="line-22"></span><p class="line862">internal link to sub page </td>
  <td><p class="line891"><tt class="backtick">/SubPage</tt> or <tt class="backtick">[[/sub&nbsp;page]]</tt> </td>
  <td><p class="line862"> </td>
</tr>
<tr>  <td><span class="anchor" id="line-23"></span><p class="line862">internal link to sister page </td>
  <td><p class="line891"><tt class="backtick">../SisterPage</tt> or <tt class="backtick">[[../SisterPage|link&nbsp;text]]</tt> </td>
  <td><p class="line862"> </td>
</tr>
<tr>  <td><span class="anchor" id="line-24"></span><p class="line862">internal link with linktext </td>
  <td><p class="line891"><tt class="backtick">[[SomePage|some&nbsp;Page]]</tt> </td>
  <td><p class="line862"> </td>
</tr>
<tr>  <td><span class="anchor" id="line-25"></span><p class="line862">internal link to a section </td>
  <td><p class="line891"><tt class="backtick">[[SomePage#subsection|subsection&nbsp;of&nbsp;Some&nbsp;Page]]</tt> </td>
  <td><p class="line862"> See <a href="./HelpOnLinking.html#Anchors">#Anchors</a> section below </td>
</tr>
<tr>  <td><span class="anchor" id="line-26"></span><p class="line862">internal link with linktext &amp; parameter </td>
  <td><p class="line891"><tt class="backtick">[[SomePage|some&nbsp;Page|target="_blank"]]</tt> </td>
  <td><p class="line862">see below for parameter configurations </td>
</tr>
<tr>  <td><span class="anchor" id="line-27"></span><p class="line862">internal link using a graphic as button </td>
  <td><p class="line891"><tt class="backtick">[[SomePage|{{attachment:imagefile.png}}]]</tt> </td>
  <td><p class="line862"> </td>
</tr>
<tr>  <td><span class="anchor" id="line-28"></span><p class="line862">internal link using graphic button, open new window </td>
  <td><p class="line891"><tt class="backtick">[[SomePage|{{attachment:samplegraphic.png}}|target="_blank"]]</tt> </td>
  <td><p class="line862"> </td>
</tr>
<tr>  <td><span class="anchor" id="line-29"></span><p class="line862">link to attachment </td>
  <td><p class="line891"><tt class="backtick">[[attachment:image.png]]</tt> </td>
  <td><p class="line862">links to attachment image </td>
</tr>
<tr>  <td><span class="anchor" id="line-30"></span><p class="line862">link to attachment of another page </td>
  <td><p class="line891"><tt class="backtick">[[attachment:SomePage/image.png]]</tt> </td>
  <td><p class="line862">links to image attached to a different page </td>
</tr>
<tr>  <td><span class="anchor" id="line-31"></span><p class="line862">interwiki link </td>
  <td><p class="line891"><tt class="backtick">Otherwiki:somepage</tt> </td>
  <td><p class="line862">requires uppercase wikiname </td>
</tr>
<tr>  <td><span class="anchor" id="line-32"></span><p class="line862">interwiki free link </td>
  <td><p class="line891"><tt class="backtick">[[otherwiki:somepage]]</tt> </td>
  <td><p class="line862">any wikiname in the map works </td>
</tr>
<tr>  <td><span class="anchor" id="line-33"></span><p class="line862">external link </td>
  <td><p class="line891"><tt class="backtick">http://example.net/</tt> </td>
  <td><p class="line862"> </td>
</tr>
<tr>  <td><span class="anchor" id="line-34"></span><p class="line862">external link with linktext </td>
  <td><p class="line891"><tt class="backtick">[[http://example.net/|example&nbsp;site]]</tt> </td>
  <td><p class="line862"> </td>
</tr>
<tr>  <td><span class="anchor" id="line-35"></span><p class="line862">external link with linktext, open new window </td>
  <td><p class="line891"><tt class="backtick">[[http://example.net/|example&nbsp;site|target="_blank"]]</tt> </td>
  <td><p class="line862">see below for parameter configurations </td>
</tr>
<tr>  <td><span class="anchor" id="line-36"></span><p class="line862">external link using a graphic as button </td>
  <td><p class="line891"><tt class="backtick">[[http://example.net/|{{attachment:samplegraphic.png}}]]</tt> </td>
  <td><p class="line862"> </td>
</tr>
<tr>  <td><span class="anchor" id="line-37"></span><p class="line862">external link using graphic button, open new window </td>
  <td><p class="line891"><tt class="backtick">[[http://example.net/|{{attachment:samplegraphic.png}}|target="_blank"]]</tt> </td>
  <td><p class="line862"> </td>
</tr>
<tr>  <td><span class="anchor" id="line-38"></span><p class="line862">border of internal link </td>
  <td><p class="line891"><tt>WikiName``s</tt> </td>
  <td><p class="line862">2 backticks - for when a WikiName ends in the middle of a word </td>
</tr>
<tr>  <td><span class="anchor" id="line-39"></span><p class="line862">avoid an internal link </td>
  <td><p class="line891"><tt class="backtick">!WikiName</tt> </td>
  <td><p class="line862">configurable function </td>
</tr>
</tbody></table></div><span class="anchor" id="line-40"></span><span class="anchor" id="line-41"></span><p class="line867"><br>
 <span class="anchor" id="line-42"></span><span class="anchor" id="line-43"></span><p class="line867">
<h2 id="Embedding">Embedding</h2>
<span class="anchor" id="line-44"></span><p class="line862">Embedding/Transclusion is used if you want to include an external file within your wiki.  Most commonly, this will be a graphic. But it can also be a text file or any other file that the wiki understands (for example, you can provide link for downloading <em>and</em> display the contents of that file on the page!). <span class="anchor" id="line-45"></span><span class="anchor" id="line-46"></span><p class="line867"><em>see <a href="./HelpOnImages.html">HelpOnImages</a> for examples.</em> <span class="anchor" id="line-47"></span><span class="anchor" id="line-48"></span><div><table style="width: 100%"><tbody><tr style="background-color: #ffffcc">  <td style="width: 25%"><p class="line891"><strong>Description</strong> </td>
  <td><p class="line891"><strong>Syntax</strong> </td>
  <td><p class="line891"><strong>Comment</strong> </td>
</tr>
<tr>  <td><span class="anchor" id="line-49"></span><p class="line862">embed an attached graphics </td>
  <td><p class="line891"><tt class="backtick">{{attachment:image.png}}</tt> </td>
  <td><p class="line862">show attached image file <tt class="backtick">image.png</tt> </td>
</tr>
<tr>  <td><span class="anchor" id="line-50"></span><p class="line862">embed an attached graphics and give alt text </td>
  <td><p class="line891"><tt class="backtick">{{attachment:image.png|alt&nbsp;text}}</tt> </td>
  <td><p class="line862">show attached image file <tt class="backtick">image.png</tt> with alternative text saying <tt class="backtick">alt&nbsp;text</tt> (recommended for accessibility) </td>
</tr>
<tr>  <td><span class="anchor" id="line-51"></span><p class="line862">embed an attached graphics and define alignment </td>
  <td><p class="line891"><tt class="backtick">{{attachment:image.png|alt&nbsp;text|align="position"}}</tt> </td>
  <td><p class="line862">show attached image file <tt class="backtick">image.png</tt> with alternative text <tt class="backtick">alt&nbsp;text</tt> and  aligned to <em>position</em>, where <em>position</em> can be one of <strong>top</strong>, <strong>middle</strong>, <strong>bottom</strong>, <strong>right</strong> or <strong>left</strong> (do not omit alt text) </td>
</tr>
<tr>  <td><span class="anchor" id="line-52"></span><p class="line862">embed an attached graphics and resize it </td>
  <td><p class="line891"><tt class="backtick">{{attachment:image.png|alt&nbsp;text|width=100&nbsp;height=150}}</tt> </td>
  <td><p class="line862">show attached image file <tt class="backtick">image.png</tt> with alternative text <tt class="backtick">alt&nbsp;text</tt> and resize it to 100px width and 150px high (do not omit alt text) </td>
</tr>
<tr>  <td><span class="anchor" id="line-53"></span><p class="line862">embed an external graphics </td>
  <td><p class="line891"><tt class="backtick">{{http://example.net/image.png}}</tt> </td>
  <td><p class="line862">show target image inline </td>
</tr>
<tr>  <td><span class="anchor" id="line-54"></span><p class="line862">embed an external graphics and give alt text </td>
  <td><p class="line891"><tt class="backtick">{{http://example.net/image.png|alt&nbsp;text}}</tt> </td>
  <td><p class="line862">show target image inline with alternative text saying <tt class="backtick">alt&nbsp;text</tt> (recommended for accessibility) </td>
</tr>
<tr>  <td><span class="anchor" id="line-55"></span><p class="line862">embed an external graphics and define alignment </td>
  <td><p class="line891"><tt class="backtick">{{http://example.net/image.png|alt&nbsp;text|align="position"}}</tt> </td>
  <td><p class="line862">show target image inline with alternative text <tt class="backtick">alt&nbsp;text</tt> and aligned to <em>position</em>, where <em>position</em> can be one of <strong>top</strong>, <strong>middle</strong>, <strong>bottom</strong>, <strong>right</strong>, or <strong>left</strong> (do not omit alt text) </td>
</tr>
<tr>  <td><span class="anchor" id="line-56"></span><p class="line862">embed an external graphics and resize it </td>
  <td><p class="line891"><tt class="backtick">{{http://example.net/image.png|alt&nbsp;text|width=100}}</tt> </td>
  <td><p class="line862">show target image inline with alternative text <tt class="backtick">alt&nbsp;text</tt> and resize it to 100px width (do not omit alt text) </td>
</tr>
</tbody></table></div><span class="anchor" id="line-57"></span><span class="anchor" id="line-58"></span><span class="anchor" id="line-59"></span><p class="line867">
<h2 id="Explanations">Explanations</h2>
<span class="anchor" id="line-60"></span><p class="line867">
<h3 id="URLs">URLs</h3>
<span class="anchor" id="line-61"></span><p class="line874">If you enter URLs into normal text, there is the problem of detecting what belongs to the URL and what not. There are four ways to force the ending of an URL: <span class="anchor" id="line-62"></span><span class="anchor" id="line-63"></span><ul><li>put a space after the URL, <span class="anchor" id="line-64"></span></li><li><p class="line862">use the <a class="interwiki" href="http://c2.com/cgi/wiki?SixSingleQuotes" title="Wiki">SixSingleQuotes</a> escaping, <span class="anchor" id="line-65"></span></li><li>use the double bracketed URL syntax. <span class="anchor" id="line-66"></span><span class="anchor" id="line-67"></span></li></ul><p class="line862">The supported URL schemes are: <tt class="backtick">http</tt>, <tt class="backtick">https</tt>, <tt class="backtick">ftp</tt>, <tt class="backtick">file</tt> and some others. The administrator of your wiki can extend the supported schemes by using the <tt>url_schemas</tt> variable (see <a href="./HelpOnConfiguration.html">HelpOnConfiguration</a>). <span class="anchor" id="line-68"></span><span class="anchor" id="line-69"></span><p class="line862">In addition to the standard schemes, there are <a href="./MoinMoin.html">MoinMoin</a>-specific ones: <tt class="backtick">attachment</tt> and <tt class="backtick">drawing</tt>, these are related to file attachments and are explained on <a href="./HelpOnActions(2f)AttachFile.html">HelpOnActions/AttachFile</a>. <span class="anchor" id="line-70"></span><span class="anchor" id="line-71"></span><p class="line867">
<h3 id="Spaces">Spaces</h3>
<span class="anchor" id="line-72"></span><p class="line862">You can use double-brackets (or double-braces) syntax to link to a page or file name with spaces. This will even work for interwiki links, provided the target wiki understands standard url quoting (spaces will become <tt>%20</tt>). <span class="anchor" id="line-73"></span><span class="anchor" id="line-74"></span><p class="line874">However, best practice is to try to avoid spaces in URLs, as you may find it's more difficult to work with that URL. For example, if you try copying and emailing that URL link, the receiver may have difficulty landing on the page you specified. <span class="anchor" id="line-75"></span><span class="anchor" id="line-76"></span><p class="line867"><span class="anchor" id="Anchors"></span> <span class="anchor" id="line-77"></span>
<h3 id="Anchors-1">Anchors</h3>
<span class="anchor" id="line-78"></span><p class="line862">To <em>insert</em> anchors into a page you need the <em>Anchor</em> macro (see <a href="./HelpOnMacros.html">HelpOnMacros</a>): <tt class="backtick">&lt;&lt;Anchor(anchorname)&gt;&gt;</tt>, where "anchorname" is the actual identifier of the anchor. <span class="anchor" id="line-79"></span><span class="anchor" id="line-80"></span><p class="line862">To link to an anchor on the same wiki page use <tt class="backtick">[[#anchorname]]</tt> or <tt class="backtick">[[#anchorname|label&nbsp;text]]</tt>. <span class="anchor" id="line-81"></span><span class="anchor" id="line-82"></span><p class="line862">To link to an anchor on another wiki page write <tt class="backtick">[[PageName#anchorname]]</tt> or <tt class="backtick">[[PageName#anchorname|label&nbsp;text]]</tt>, where "<a class="nonexistent" href="./PageName.html">PageName</a>" is the name of the other page and "anchorname" is the identifier of the anchor on that page. <span class="anchor" id="line-83"></span><span class="anchor" id="line-84"></span><span class="anchor" id="line-85"></span><span class="anchor" id="line-86"></span><p class="line867">
<h3 id="Preventing_Automatically_Generated_Links">Preventing Automatically Generated Links</h3>
<span class="anchor" id="line-87"></span><span class="anchor" id="line-88"></span><p class="line862">To keep a word like <a class="nonexistent" href="./PageName.html">PageName</a> from automatically being turned into a link,  <span class="anchor" id="line-89"></span>you can suppress <a href="./CamelCase.html">CamelCase</a> linking by putting an exclamation mark (<tt>!</tt>) before the word, i.e. <tt class="backtick">!PageName</tt>. This method will not interfere with most searches (the exception is certain quoted phrases and regular expressions).  <span class="anchor" id="line-90"></span><span class="anchor" id="line-91"></span><p class="line862">Alternatively, you can insert two back-ticks <tt>Page``Name</tt>.  However, the problem with doing this is that it will prevent a simple search for the word "PageName" from matching <tt>Page``Name</tt> in a page, due to the inserted characters. <span class="anchor" id="line-92"></span><span class="anchor" id="line-93"></span><p class="line862">To prevent automatic URL linking, use either <tt>`http://...`</tt> or <tt class="backtick">{{{http://...}}}</tt>. <span class="anchor" id="line-94"></span><span class="anchor" id="line-95"></span><span class="anchor" id="line-96"></span><span class="anchor" id="line-97"></span><p class="line867">
<h3 id="Using_link_parameters">Using link parameters</h3>
<span class="anchor" id="line-98"></span><p class="line862">Sometimes you may want to give additional parameters for a link, influencing how it looks like, how it behaves and how exactly it links to the target - this is what the <strong>params</strong> part of <tt class="backtick">[[target|text|params]]</tt> is for. <span class="anchor" id="line-99"></span><span class="anchor" id="line-100"></span><p class="line862">e.g. if you want a direct download link you want to enter as <tt class="backtick">param&nbsp;&amp;do=get</tt> <tt class="backtick">[[attachment:HelpOnImages/pineapple.jpg|a&nbsp;pineapple|&amp;do=get]]</tt> <a class="attachment" href="attachments/HelpOnImages/pineapple.jpg" title="a pineapple">a pineapple</a> <span class="anchor" id="line-101"></span><span class="anchor" id="line-102"></span><p class="line867">
<h4 id="Setting_attributes_of_the_.3Ca.3E_tag">Setting attributes of the &lt;a&gt; tag</h4>
<span class="anchor" id="line-103"></span><p class="line874">Available attributes: class, title, target, accesskey (see some html reference if you want to know what they mean). <span class="anchor" id="line-104"></span><span class="anchor" id="line-105"></span><p class="line862">Example: <tt class="backtick">[[http://moinmo.in/|MoinMoin&nbsp;Wiki|class=green&nbsp;dotted,accesskey=1]]</tt> <span class="anchor" id="line-106"></span><span class="anchor" id="line-107"></span><p class="line862">Renders as: <a accesskey="1" class="green dotted" href="http://moinmo.in/">MoinMoin Wiki</a> <span class="anchor" id="line-108"></span><span class="anchor" id="line-109"></span><p class="line867"><img alt="(!)" height="15" src="/wiki_static/scilabTheme/img/idea.png" title="(!)" width="15" /> Pressing the access key should jump to that link target (for Firefox 2.x and the example above it is Alt-Shift-1). <span class="anchor" id="line-110"></span><span class="anchor" id="line-111"></span><p class="line867">
<h4 id="Creating_a_query_string_for_the_target_URL">Creating a query string for the target URL</h4>
<span class="anchor" id="line-112"></span><p class="line874">What is possible for this depends on the target site. <span class="anchor" id="line-113"></span><span class="anchor" id="line-114"></span><p class="line862">Example: <tt class="backtick">[[MoinMoin:MoinMoinWiki|MoinMoin&nbsp;Wiki|&amp;action=diff,&amp;rev1=1,&amp;rev2=2]]</tt> <span class="anchor" id="line-115"></span><span class="anchor" id="line-116"></span><p class="line862">Renders as: <a class="interwiki" href="http://moinmoin.wikiwikiweb.de/MoinMoinWiki%3Frev1%3D1%26action%3Ddiff%26rev2%3D2" title="MoinMoin">MoinMoin Wiki</a> <span class="anchor" id="line-117"></span><span class="anchor" id="line-118"></span><p class="line867"><img alt="(!)" height="15" src="/wiki_static/scilabTheme/img/idea.png" title="(!)" width="15" /> Please remember: <span class="anchor" id="line-119"></span><span class="anchor" id="line-120"></span><ul><li><p class="line862">If you want to give a key=value item for the query string, don't forget the ampersand (&amp;). <span class="anchor" id="line-121"></span></li><li>Giving query string items does not work when you give a URL as target (but for links to pages or attachments). <span class="anchor" id="line-122"></span></li><li>If you give a URL as target, you can include a query string directly in that target, no need for params. <span class="anchor" id="line-123"></span></li><li>You don't need to encode and url_quote the query string stuff, moin does this automatically for you. <span class="anchor" id="line-124"></span><span class="anchor" id="line-125"></span></li></ul><p class="line867">
<h3 id="Images">Images</h3>
<span class="anchor" id="line-126"></span><p class="line874">You may use <span class="anchor" id="line-127"></span><span class="anchor" id="line-128"></span><p class="line867"><span class="anchor" id="line-129"></span><span class="anchor" id="line-130"></span><pre><span class="anchor" id="line-1"></span>{{attachment:imagefile.png|text describing image|width=100}}</pre><span class="anchor" id="line-131"></span><p class="line862">to have the attached file <tt class="backtick">imagefile.png</tt> displayed with a width of 100px; the graphics' height will be reduced/ enlarged proportionally (e.g. if <tt class="backtick">imagefile.png</tt> was actually 200px width and 400px heigh, height would be reduced in this example to 200px). You may also use <span class="anchor" id="line-132"></span><span class="anchor" id="line-133"></span><p class="line867"><span class="anchor" id="line-134"></span><span class="anchor" id="line-135"></span><pre><span class="anchor" id="line-1-1"></span>{{attachment:imagefile.png|text describing image|height=100}}</pre><span class="anchor" id="line-136"></span><p class="line862">to have the attached file <tt class="backtick">imagefile.png</tt> displayed with a height of 100px, and the graphics' width will be reduced/ enlarged proportionally. Use <span class="anchor" id="line-137"></span><span class="anchor" id="line-138"></span><p class="line867"><span class="anchor" id="line-139"></span><span class="anchor" id="line-140"></span><pre><span class="anchor" id="line-1-2"></span>{{attachment:imagefile.png|text describing image|width=100 height=150}}</pre><span class="anchor" id="line-141"></span><p class="line862">to have the attached file <tt class="backtick">imagefile.png</tt> displayed with a width of 100px and a height of 150px. Please do not omit the alternative text in neither case. <span class="anchor" id="line-142"></span><span class="anchor" id="line-143"></span><p class="line874">Note this does not alter the attached file itself, in only makes the browser scale the image down/ up to the value given while displaying it. <span class="anchor" id="line-144"></span><span class="anchor" id="line-145"></span><p class="line867">
<h4 id="Thumbnails">Thumbnails</h4>
<span class="anchor" id="line-146"></span><p class="line874">You may combine the transclusion with the linking syntax, leading to an image displayed in reduced size that links to itself in actual size, e.g. <span class="anchor" id="line-147"></span><span class="anchor" id="line-148"></span><p class="line867"><span class="anchor" id="line-149"></span><span class="anchor" id="line-150"></span><pre><span class="anchor" id="line-1-3"></span>[[attachment:imagefile.png|{{attachment:imagefile.png|text describing image|width=100}}]]</pre><span class="anchor" id="line-151"></span><span class="anchor" id="bottom"></span></div>
</div>
<hr>
2022-09-08 09:27
</body>
</html>
