<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>three main issues making the graphic so slow</title>
<link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="scilabTheme/css/common.css">
<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="scilabTheme/css/screen.css">
<link rel="stylesheet" type="text/css" media="print" charset="utf-8" href="scilabTheme/css/print.css">
<style type="text/css">
ul.pagetitle{
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
li.pagetitle{
  display: inline;
  margin: 0;
}
td.noborder {
  border: 0;
}
</style>
</head>
<body>
<table>
<tr>
<td class="noborder">
<img src="logo.png">
</td>
<td class="noborder">
<ul class="pagetitle">
<li class="pagetitle"><a class="backlink">three main issues making the graphic so slow</a>
</ul>
<br><br>
[<a href="Contents.html">Contents</a>]&nbsp;[<a href="TitleIndex.html">TitleIndex</a>]&nbsp;[<a href="WordIndex.html">WordIndex</a>]&nbsp;
</td>
</tr>
</table>
<hr>
<div id="page">
<div dir="ltr" id="content" lang="en"><span class="anchor" id="top"></span>
<span class="anchor" id="line-1"></span><span class="anchor" id="line-2"></span><span class="anchor" id="line-3"></span><p class="line867"><strong> Most of the issues listed have been fixed in the more recent version of Scilab </strong> <span class="anchor" id="line-4"></span><span class="anchor" id="line-5"></span><p class="line874">On Scilab-5.0 alpha version you may have notice that Scilab is much slower than Scilab 4. <span class="anchor" id="line-6"></span><span class="anchor" id="line-7"></span><p class="line874">After investigation we found several major bottlenecks: <span class="anchor" id="line-8"></span><span class="anchor" id="line-9"></span><p class="line867">
<h1 id="Bottlenecks">Bottlenecks</h1>
<span class="anchor" id="line-10"></span><span class="anchor" id="line-11"></span><p class="line867">
<h2 id="Text_rendering">Text rendering</h2>
<span class="anchor" id="line-12"></span><span class="anchor" id="line-13"></span><ul><li style="list-style-type:none">Text rendering in OpenGL is quite tricky. It needs to create bitmap textures for each text to draw and then put the texture on a quad. <span class="anchor" id="line-14"></span><p class="line862">JOGL API provides a class <a class="nonexistent" href="./TextRenderer.html">TextRenderer</a> which highly simplify the processes. Basically it is used by specifying the font, the text and the place to draw. <span class="anchor" id="line-15"></span>The texture mechanism is hidden. However displaying text seems to be very slow and creates some memory leaks. Some users has already complained that the class <span class="anchor" id="line-16"></span>is slow, and the JOGL's developer argued that some applications were displaying lot of text without slowdowns. However, he did not provide any pointer or any way <span class="anchor" id="line-17"></span>to improve the speed. <span class="anchor" id="line-18"></span><span class="anchor" id="line-19"></span></li></ul><p class="line867">
<h2 id="Synchronization_with_OpenGL_thread">Synchronization with OpenGL thread</h2>
<span class="anchor" id="line-20"></span><span class="anchor" id="line-21"></span><ul><li style="list-style-type:none">All OpenGL instructions must be performed on a single thread (we call it OpenGL thread). It appears that for the GLJPanel, the OpenGL thread is the <span class="anchor" id="line-22"></span><p class="line862">Eventqueue aka <a class="nonexistent" href="./EventDispatcher.html">EventDispatcher</a>. One commentary in the GLJPanel says "Multithreaded redrawing of Swing components is not allowed, so do everything on the event dispatch thread". <span class="anchor" id="line-23"></span>Actually when calling the display function of the GLJPanel (basically what is performed when a graphic object is modified or an explicit call to the Scilab draw routine) the <span class="anchor" id="line-24"></span>code try to synchronize with the OpenGL thread before launching any OpenGL action. Here is the code of the function: <span class="anchor" id="line-25"></span><span class="anchor" id="line-26"></span>{{{public void display() { <span class="anchor" id="line-27"></span><ul><li style="list-style-type:none"><p class="line862">if (<a class="nonexistent" href="./EventQueue.html">EventQueue</a>.isDispatchThread()) { <span class="anchor" id="line-28"></span><ul><li style="list-style-type:none">// Want display() to be synchronous, so call paintImmediately() <span class="anchor" id="line-29"></span>paintImmediately(0, 0, getWidth(), getHeight()); <span class="anchor" id="line-30"></span></li></ul>} else { <span class="anchor" id="line-31"></span><ul><li style="list-style-type:none">// Multithreaded redrawing of Swing components is not allowed, <span class="anchor" id="line-32"></span>// so do everything on the event dispatch thread <span class="anchor" id="line-33"></span>try { <span class="anchor" id="line-34"></span><ul><li style="list-style-type:none"><p class="line891"><a class="nonexistent" href="./EventQueue.html">EventQueue</a>.invokeAndWait(paintImmediatelyAction); <span class="anchor" id="line-35"></span></li></ul>} catch (Exception e) { <span class="anchor" id="line-36"></span><ul><li style="list-style-type:none">throw new GLException(e); <span class="anchor" id="line-37"></span></li></ul>} <span class="anchor" id="line-38"></span></li></ul>} <span class="anchor" id="line-39"></span></li></ul><ul><li style="list-style-type:none">} <span class="anchor" id="line-40"></span></li></ul>}}} <span class="anchor" id="line-41"></span><span class="anchor" id="line-42"></span><p class="line862">It uses <a class="nonexistent" href="./InvokeAndWait.html">InvokeAndWait</a> for synchronization. Each time, it needs around 10ms before the paintImmediatelyAction is called on a recent computer (core 2 duo, 4Gb RAM). <span class="anchor" id="line-43"></span>That's a lot compared to the paintImmediatelyAction. for example with a plot3d (without ticks, just box and surface) it takes between 1 and 2ms to render. <span class="anchor" id="line-44"></span>It still unclear what Swing/AWT may do suring this time. However, when using JOGL demos, with only a JFrame enclosing the GLJPanel, the synchronization time become <span class="anchor" id="line-45"></span>negligible (less than 1ms). <span class="anchor" id="line-46"></span><span class="anchor" id="line-47"></span></li></ul><p class="line867">
<h2 id="Use_of_Java2D_OpenGL_Pipeline">Use of Java2D OpenGL Pipeline</h2>
<span class="anchor" id="line-48"></span><span class="anchor" id="line-49"></span><ul><li style="list-style-type:none">In standard mode, GLJPanel uses images to fill the GLJPanel. After each rendering cycle, the JOGL read the newly filled OpenGL buffer then copy it into an image and send the image to display. <span class="anchor" id="line-50"></span>This is time consuming, specially with large window or fullscreen. <span class="anchor" id="line-51"></span>However, since Java 1.6, JOGL is able to use render the OpenGL buffer almost directly using Java2D. The speed increase is important but the graphic card need to support pbuffers. <span class="anchor" id="line-52"></span>Today, only the Nvidia cards are implementing them correctly. With ATI the support is buggy and on Intel cards it is probably not supported. <span class="anchor" id="line-53"></span><span class="anchor" id="line-54"></span><span class="anchor" id="line-55"></span></li></ul><p class="line867">
<h1 id="Benchmarks">Benchmarks</h1>
<span class="anchor" id="line-56"></span><span class="anchor" id="line-57"></span><p class="line867">
<h2 id="Synchronization_with_OpenGL_thread-1">Synchronization with OpenGL thread</h2>
<span class="anchor" id="line-58"></span><p class="line867"><span class="anchor" id="line-59"></span><span class="anchor" id="line-60"></span><span class="anchor" id="line-61"></span><span class="anchor" id="line-62"></span><span class="anchor" id="line-63"></span><span class="anchor" id="line-64"></span><span class="anchor" id="line-65"></span><span class="anchor" id="line-66"></span><pre><span class="anchor" id="line-1"></span>scf();
<span class="anchor" id="line-2"></span>drawlater();
<span class="anchor" id="line-3"></span>plot3d;
<span class="anchor" id="line-4"></span>a = gca();
<span class="anchor" id="line-5"></span>a.axes_visible = "off";
<span class="anchor" id="line-6"></span>drawnow();
<span class="anchor" id="line-7"></span>for i = 1:10000,a.rotation_angles(2) = i;end;</pre><span class="anchor" id="line-67"></span><p class="line867">
<h3 id="Java2d_.2F_OpengGL_pipeline_Enable">Java2d / OpengGL pipeline Enable</h3>
<span class="anchor" id="line-68"></span><p class="line867">
<h4 id="window">window</h4>
<span class="anchor" id="line-69"></span><p class="line874">Temps moyen nécessaire pour la fonction display : 5.5ms <span class="anchor" id="line-70"></span><span class="anchor" id="line-71"></span><p class="line874">Temps moyen nécessaire pour OpenGL : 2.5ms <span class="anchor" id="line-72"></span>
<h4 id="full_screen">full screen</h4>
<span class="anchor" id="line-73"></span><p class="line874">Temps moyen nécessaire pour la fonction display : 7.5ms <span class="anchor" id="line-74"></span><span class="anchor" id="line-75"></span><p class="line874">Temps moyen nécessaire pour OpenGL : 4.5ms <span class="anchor" id="line-76"></span>
<h3 id="Java2d_.2F_OpengGL_pipeline_Disable">Java2d / OpengGL pipeline Disable</h3>
<span class="anchor" id="line-77"></span><p class="line867">
<h4 id="window-1">window</h4>
<span class="anchor" id="line-78"></span><p class="line874">Temps moyen nécessaire pour la fonction display : 9ms <span class="anchor" id="line-79"></span><span class="anchor" id="line-80"></span><p class="line874">Temps moyen nécessaire pour OpenGL : 6.5ms <span class="anchor" id="line-81"></span>
<h4 id="full_screen-1">full screen</h4>
<span class="anchor" id="line-82"></span><p class="line874">Temps moyen nécessaire pour la fonction display : 35ms <span class="anchor" id="line-83"></span><span class="anchor" id="line-84"></span><p class="line874">Temps moyen nécessaire pour OpenGL : 26ms <span class="anchor" id="line-85"></span><span class="anchor" id="line-86"></span><p class="line867"><span class="anchor" id="line-87"></span><span class="anchor" id="line-88"></span><span class="anchor" id="line-89"></span><span class="anchor" id="line-90"></span><span class="anchor" id="line-91"></span><span class="anchor" id="line-92"></span><span class="anchor" id="line-93"></span><span class="anchor" id="line-94"></span><span class="anchor" id="line-95"></span><pre><span class="anchor" id="line-1-1"></span>scf();
<span class="anchor" id="line-2-1"></span>drawlater();
<span class="anchor" id="line-3-1"></span>plot3d;
<span class="anchor" id="line-4-1"></span>a = gca();
<span class="anchor" id="line-5-1"></span>a.axes_visible = "off";
<span class="anchor" id="line-6-1"></span>drawnow();
<span class="anchor" id="line-7-1"></span>realtimeinit(1);
<span class="anchor" id="line-8"></span>for i = 1:1000,realtime(i);a.rotation_angles(2) = i;end;</pre><span class="anchor" id="line-96"></span><p class="line867">
<h3 id="Java2d_.2F_OpengGL_pipeline_Enable-1">Java2d / OpengGL pipeline Enable</h3>
<span class="anchor" id="line-97"></span><p class="line867">
<h4 id="window-2">window</h4>
<span class="anchor" id="line-98"></span><p class="line874">Temps moyen nécessaire pour la fonction display : 3.0ms <span class="anchor" id="line-99"></span><span class="anchor" id="line-100"></span><p class="line874">Temps moyen nécessaire pour OpenGL : 1.75ms <span class="anchor" id="line-101"></span>
<h4 id="full_screen-2">full screen</h4>
<span class="anchor" id="line-102"></span><p class="line874">Temps moyen nécessaire pour la fonction display : 5.5ms <span class="anchor" id="line-103"></span><span class="anchor" id="line-104"></span><p class="line874">Temps moyen nécessaire pour OpenGL : 4ms <span class="anchor" id="line-105"></span>
<h3 id="Java2d_.2F_OpengGL_pipeline_Disable-1">Java2d / OpengGL pipeline Disable</h3>
<span class="anchor" id="line-106"></span><p class="line867">
<h4 id="window-3">window</h4>
<span class="anchor" id="line-107"></span><p class="line874">Temps moyen nécessaire pour la fonction display : 5ms <span class="anchor" id="line-108"></span><span class="anchor" id="line-109"></span><p class="line874">Temps moyen nécessaire pour OpenGL : 3.5ms <span class="anchor" id="line-110"></span>
<h4 id="full_screen-3">full screen</h4>
<span class="anchor" id="line-111"></span><p class="line874">Temps moyen nécessaire pour la fonction display : 21.5ms <span class="anchor" id="line-112"></span><span class="anchor" id="line-113"></span><p class="line874">Temps moyen nécessaire pour OpenGL : 20.5ms <span class="anchor" id="line-114"></span><span class="anchor" id="line-115"></span><p class="line867">
<h2 id="Text_Rendering">Text Rendering</h2>
<span class="anchor" id="line-116"></span><p class="line867"><span class="anchor" id="line-117"></span><span class="anchor" id="line-118"></span><span class="anchor" id="line-119"></span><span class="anchor" id="line-120"></span><span class="anchor" id="line-121"></span><span class="anchor" id="line-122"></span><span class="anchor" id="line-123"></span><span class="anchor" id="line-124"></span><span class="anchor" id="line-125"></span><pre><span class="anchor" id="line-1-2"></span>scf();
<span class="anchor" id="line-2-2"></span>drawlater();
<span class="anchor" id="line-3-2"></span>plot3d;
<span class="anchor" id="line-4-2"></span>xstring(0,0,"Scilab power!!!");
<span class="anchor" id="line-5-2"></span>a = gca();
<span class="anchor" id="line-6-2"></span>a.axes_visible = "off";
<span class="anchor" id="line-7-2"></span>drawnow();
<span class="anchor" id="line-8-1"></span>for i = 1:5000,a.rotation_angles(2) = i;end;</pre><span class="anchor" id="line-126"></span><span class="anchor" id="line-127"></span><p class="line867">
<h3 id="Java2d_.2F_OpengGL_pipeline_Enable-2">Java2d / OpengGL pipeline Enable</h3>
<span class="anchor" id="line-128"></span><p class="line867">
<h4 id="window-4">window</h4>
<span class="anchor" id="line-129"></span><p class="line874">Temps moyen nécessaire pour la fonction display : 6ms <span class="anchor" id="line-130"></span><span class="anchor" id="line-131"></span><p class="line874">Temps moyen nécessaire pour OpenGL : 3ms <span class="anchor" id="line-132"></span>
<h4 id="full_screen-4">full screen</h4>
<span class="anchor" id="line-133"></span><p class="line874">Temps moyen nécessaire pour la fonction display : 7ms <span class="anchor" id="line-134"></span><span class="anchor" id="line-135"></span><p class="line874">Temps moyen nécessaire pour OpenGL : 4.5ms <span class="anchor" id="line-136"></span>
<h3 id="Java2d_.2F_OpengGL_pipeline_Disable-2">Java2d / OpengGL pipeline Disable</h3>
<span class="anchor" id="line-137"></span><p class="line867">
<h4 id="window-5">window</h4>
<span class="anchor" id="line-138"></span><p class="line874">Temps moyen nécessaire pour la fonction display : 10ms <span class="anchor" id="line-139"></span><span class="anchor" id="line-140"></span><p class="line874">Temps moyen nécessaire pour OpenGL : 8ms <span class="anchor" id="line-141"></span>
<h4 id="full_screen-5">full screen</h4>
<span class="anchor" id="line-142"></span><p class="line874">Temps moyen nécessaire pour la fonction display : 36ms <span class="anchor" id="line-143"></span><span class="anchor" id="line-144"></span><p class="line874">Temps moyen nécessaire pour OpenGL : 27ms <span class="anchor" id="line-145"></span><span class="anchor" id="bottom"></span></div>
</div>
<hr>
2022-09-08 09:27
</body>
</html>
